@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-3px);
  }
}

.button-slide-up {
  transition: transform 0.2s ease;
}

.button-slide-up:hover {
  animation: slideUp 0.2s ease forwards;
  background-color: transparent;
}

}